
# Preview Environment Configuration
# =============================
# This file contains environment variables for the Preview environment only.
# Never use these values in production.

# Database Configuration
MARIADB_HOST_NAME=sample-app-mariadb
MARIADB_DB_NAME=sample_app
MARIADB_USER=root
MARIADB_PASSWORD=root

# Logging
JPA_SHOW_SQL=true
JPA_FORMAT_SQL=false

LIQUIBASE_CONTEXTS=ephemeral-app-seed